:root {
  --cc-body-background: #fef1e4;
  --cc-header-border: #10162f;
  --cc-banner-light: #f2fbff;
  --cc-banner-dark: #d9f3ff;
  --cc-link-colour: #3069f0;
  --cc-link-colour-banner: #3069f0;
  --primary-low: #dedede;
  --cc-code-keyword: #ff9e0b;
  --cc-code-title: #f34444;
  --hljs-number: #1589ef;
  --hljs-symbol: #f328bf;
  --hljs-string: #2cb168;
  --hljs-literal: #5978f5;
}
