:root {
  --cc-body-background: #fef1e4;
  --cc-header-border: #10162f;
  --cc-link-colour: #3069f0;
  --primary-low: #dedede;
  --cc-code-keyword: #f5b656;
  --cc-code-title: #ef6b6b;
  --hljs-number: #51aeff;
  --hljs-symbol: #f76dd4;
  --hljs-string: #62efa1;
  --hljs-literal: #8ea5ff;
}